[submodule "3rdParty"]
	path = 3rdParty
	url = https://github.com/stnoh/3rdParty
[submodule "external/glm"]
	path = external/glm
	url = git://github.com/g-truc/glm
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml
[submodule "optional/protobuf"]
	path = optional/protobuf
	url = https://github.com/stnoh/protobuf
[submodule "optional/KinectFusionExplorer-D2D"]
	path = optional/KinectFusionExplorer-D2D
	url = https://github.com/stnoh/KinectFusionExplorer-D2D
[submodule "external/dirent"]
	path = external/dirent
	url = https://github.com/tronkko/dirent
